[tool.poetry]
name = "steam-market-history"
version = "3.0.4"
description = "An easy-to-use CLI to export your steam market history to various formats"
authors = ["Fabian Eulitz <dev@sustineo.de>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/fabieu/steam-market-history"
keywords = ["steam", "CLI"]

[tool.poetry.dependencies]
python = "^3.8"
beautifulsoup4 = "^4.11.1"
steam = "^1.2.1"
Jinja2 = "^3.1.2"
typer = "^0.4.1"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
autopep8 = "^1.6.0"
vermin = "^1.3.3"
python-dotenv = "^0.20.0"

[tool.poetry.scripts]
steam-market-history = "steam_market_history.main:app"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
