name: Build and publish package

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  POETRY_VERSION: 2.2.1
  PYPI_TOKEN: "${{ secrets.PYPI_TOKEN }}"

jobs:
  set-version:
    name: Set version info
    runs-on: ubuntu-latest
    container:
      image: python:3.14-slim
    timeout-minutes: 5
    permissions:
      contents: read
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install poetry
        run: pipx install poetry==$POETRY_VERSION

      - name: Save version to output
        id: version
        run: |
          VERSION=$(poetry version -s)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Display version
        run: echo "Version ${{ steps.version.outputs.version }}"

  publish:
    name: Publish package to PYPI
    runs-on: ubuntu-latest
    container:
      image: python:3.14-slim
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install poetry
        run: pipx install poetry==$POETRY_VERSION

      - name: Install project dependencies
        run: poetry install

      - name: Public package to PYPI via Poetry
        run: poetry publish --build --no-interaction --username __token__ --password $PYPI_TOKEN

  create-release:
    name: Create release
    runs-on: ubuntu-latest
    needs:
      - set-version
      - publish
    timeout-minutes: 5
    permissions:
      contents: write
    steps:
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ needs.set-version.outputs.version }}
          tag_name: ${{ needs.set-version.outputs.version }}
          target_commitish: ${{ github.sha }}
          generate_release_notes: true
